= render "nav"
.container
    .row
        .col
            .jumbotron.text-center
                %h1.display-4
                    %a Logged Out
                = link_to "Login Again", login_path, class: "btn btn-primary"