%nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light
  .collapse.navbar-collapse
    %ul.navbar-nav
      - if @nav == "logged_out"
        %li.nav-item
          = link_to "Create Account", create_account_path, class: "nav-link"
        %li.nav-item
          = link_to "Login", login_path, class: "nav-link"
      - else
        %li.nav-item
          = link_to "Logout", logout_path, class: "nav-link"
%p