-#    This file is part of Monzo-Viewer.

-#    Monzo-Viewer is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    any later version.

-#    Monzo-Viewer is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU General Public License for more details.

-#    You should have received a copy of the GNU General Public License
-#    along with Monzo-Viewer.  If not, see <https://www.gnu.org/licenses/>.

%nav.navbar.sticky-top.navbar-expand-lg.navbar-light.bg-light
    .container-fluid
        = link_to "Monzo", accounts_path, class: "navbar-brand"
        %button.navbar-toggler{"type" => "button", "data-bs-toggle" => "collapse", "data-bs-target" => "#navbarNavDropdown", "aria-controls" => "navbarSupportedContent", "aria-expanded" => "false", "aria-label" => "Toggle navigation"}
            %span.navbar-toggler-icon
        .collapse.navbar-collapse#navbarNavDropdown
            %ul.navbar-nav
                - if @nav == "logged_out"
                    %li.nav-item
                        = link_to "Create Account", create_account_path, class: "nav-link"
                    %li.nav-item
                        = link_to "Login", login_path, class: "nav-link"
                - else
                    %li.nav-item
                        = link_to "Logout", logout_path, class: "nav-link"
%p