= render "nav"
.container
    .row
        .col
            .jumbotron.text-center
                %h1.display-4
                    %a Authorisation Complete
                %p Next we will download all transactions.
                %p IMPORTANT: You must authorise this app on the Monzo app before clicking the button below!
                - if @already_accounts
                    %p If you wish to keep all previous data and customisations, click the button below to download all missing data.
                %p= link_to "Download Data", force_update_accounts_path("from_start"), class: "btn btn-primary"
                - if @already_accounts
                    %p Or if you wish to start afresh, click the button below to delete all account, pot and transaction data and download from the start.
                    %p= link_to "Start Afresh and Download All Data", start_afresh_path, class: "btn btn-primary"