-#    This file is part of Monzo-Viewer.

-#    Monzo-Viewer is free software: you can redistribute it and/or modify
-#    it under the terms of the GNU General Public License as published by
-#    the Free Software Foundation, either version 3 of the License, or
-#    any later version.

-#    Monzo-Viewer is distributed in the hope that it will be useful,
-#    but WITHOUT ANY WARRANTY; without even the implied warranty of
-#    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
-#    GNU General Public License for more details.

-#    You should have received a copy of the GNU General Public License
-#    along with Monzo-Viewer.  If not, see <https://www.gnu.org/licenses/>.

= render "nav"
.container
    .row
        .col
            .jumbotron.text-center.p-5.rounded.m-3
                %h1.display-4
                    %a Authorisation Complete
                %p Next we will download all transactions.
                %p IMPORTANT: You must authorise this app on the Monzo app before clicking the button below!
                - if @already_accounts
                    %p If you wish to keep all previous data and customisations, click the button below to download all missing data.
                %p= link_to "Download Data", force_update_accounts_path("from_start"), class: "btn btn-primary"
                - if @already_accounts
                    %p Or if you wish to start afresh, click the button below to delete all account, pot and transaction data and download from the start.
                    %p= link_to "Start Afresh and Download All Data", start_afresh_path, class: "btn btn-primary"