= render "nav"
.container
    .row
        .col
            .jumbotron.text-center
                %h1.display-4
                    %a Invalid Username or Password!
                = link_to "Try again", login_path(), class: "btn btn-primary"