= render "nav"
.container
    .row
        .col
            .jumbotron
                %h1.display-4
                    Pot not found!
                = link_to "Go back to account", accounts_path, class: "btn btn-primary btn-lg"
