= render "nav"
.container
    .row
        .col
            .jumbotron
                %h1.display-4
                    Accounts Updated
                %a.btn.btn-primary.btn-lg(href=".." role="button") Return to accounts