= render "nav"
.container
    .row
        .col
            .jumbotron
                %h1.display-4
                    Accounts Updated
                = link_to "Return to accounts", accounts_path, class: "btn btn-primary btn-lg"