= render "nav"
.container
    .row
        .col
            .jumbotron
                .container
                    .row
                        - @accounts.each do |account|
                            .col
                                .card.mx-auto{"style" => "width: 18rem;"}
                                    .card-body
                                        %h4.card-title= account.name
                                        %p.card-text Balance: #{number_to_currency(account.balance/100.0, unit: "£")}
                                        = link_to "View Account", account_path(account), class: "btn btn-primary btn-lg"
