
html {
    scroll-behavior: smooth;
}

#acc-name-edit{
    font-size: 3.5rem;
}
#acc-name + #acc-name-input {
    display: none;
}
.card-spacing{
    padding: 1em;
}
.pages{
    padding: 5px;
}
#transactions{
    padding-top: 60px;
}

.table th{
    text-align: left;
}
footer{
    width: 100%;
    height: 40px;
    margin-top: -40px;
}
.content-wrap{
    padding-bottom: 40px;
}
.jumbotron{
    background-color: #e9ecef;
}